/*********Left side Start********/
#leftside{
padding:10px;
margin:0px;
float:left;
width:240px;
background:#cecece;
}
#leftside .heading{
padding:0 0 10px 0;
margin:0px;
font-size:16px;
}
#leftside .testimonial{
padding:10px 0 10px 0;
margin:0px;
font-style:italic;
font-size:12px;
color:#454545;
background:url(../images/testimonial.gif) no-repeat left top;
}
#leftside .name{
padding:6px 0 15px 0;
margin:0px;
font-size:14px;
}
/*********Right side Start********/
#rightside{
padding:0px;
margin:0px;
float:right;
width:590px;
}
#rightside h1{
padding:6px 10px;
margin:0px;
font-size:16px;
font-weight:normal;
color:#FFF;
background:#553870;
}
#rightside p{
padding:8px 10px;
margin:0px;
font-size:11px;
line-height:15px;
color:#000;
}
#rightside ul{
padding:10px;
margin:0px;
font-size:11px;
list-style:none;
line-height:14px;
color:#000;
}
#rightside li{
padding:3px 15px;
margin:0px;
background:url(../images/arrow.gif) no-repeat left 7px;
}
#rightside a{
/* color:#000000; */
/* text-decoration:none; */
}
h5{
padding:6px 10px;
margin:0px;
font-size:16px;
font-weight:normal;
color:#FFF;
background:#553870;
}