<tr>
    <td>
        Username:
    </td>
    <td align="right">
        <a href="{{profile.get_absolute_url}}">{{profile.user.username}}</a>
    </td>
</tr>
<tr>
    <td>
        Full Name:
    </td>
    <td align="right">
        {{profile.user.get_full_name}}
    </td>
</tr>
{% if profile.city %}
<tr>
    <td>
        City:
    </td>
    <td align="right">
        {{profile.city}}
    </td>
</tr>
{% endif %}
{% if profile.company_name %}
<tr>
    <td>
        Company Name:
    </td>
    <td align="right">
        {{profile.company_name}}
    </td>
</tr>
{% endif %}
{% if profile.public_profile %}
<tr>
    <td>
        Public Url:
    </td>
    <td align="right">
        {{profile.public_profile|urlize}}
    </td>
</tr>
{% endif %}