#maincontent h1{
padding:6px 10px;
margin:0px;
font-size:16px;
font-weight:normal;
color:#FFF;
background:#553870;
}

/*********Left side Start********/
#leftside{
padding:0px;
margin:0px;
float:left;
width:580px;
}
#leftside p{
padding:8px 10px;
margin:0px;
font-size:11px;
line-height:15px;
color:#000;
}
#leftside .tab_budget{
padding:70px 0;
margin:30px 0 0 0;
font-size:14px;
color:#000;
background:#cecece;
text-align:center;
}
#leftside .heading{
padding:0 0 10px 0;
margin:0px;
font-size:16px;
}
#leftside .testimonial{
padding:10px 0 10px 0;
margin:0px;
font-style:italic;
font-size:12px;
color:#454545;
background:url(../images/testimonial.gif) no-repeat left top;
}
#leftside .name{
padding:6px 0 15px 0;
margin:0px;
font-size:14px;
}
/*********Right side Start********/
#rightside{
padding:0px;
margin:0px;
float:right;
width:270px;
}
#rightside .tab_budget{
padding:70px 0;
margin:10px 0 0 0;
font-size:14px;
color:#000;
background:#cecece;
text-align:center;
}
#rightside .fund_info{
padding:10px;
margin:0px;
background:#cecece;
}
#rightside .fund_info p{
padding:3px 0 5px 0;
margin:0px;
color:#000000;
font-size:12px;
}
#rightside .add_cart{
padding:10px 0 0 0;
margin:0px;
float:left;
width:125px;
color:#000000;
font-size:12px;
}
#rightside .raise_fund{
padding:10px 0 0 0;
margin:0px;
float:left;
width:125px;
color:#000000;
font-size:12px;
}
#rightside .rel_link{
padding:10px;
margin:0px;
background:#cecece;
}

#rightside ul{
padding:0px;
margin:0px;
font-size:12px;
list-style:none;
line-height:14px;
color:#000;
}
#rightside li{
padding:3px 15px;
margin:0px;
background:url(../images/arrow-relv.gif) no-repeat left 7px;
}
#rightside a{
color:#000000;
text-decoration:none;
}
