{% extends "dreammile-base.html" %}

{% block contentBox %}
<h2> Thank you </h2>
                          
<p> Thank you for your donation to Vibha. Please check your email for
the official confirmation and receipt of your donation. If you do not
receive the email within a few days, please contact us at <a
href="mailto:donations@vibha.org">donations@vibha.org</a>. Please also
contact us with any questions or suggestions about the online donation
or about Vibha. We'd love to hear from you!
</p>

{% endblock %}
