{% extends "base.dmpl" %}

{% block title %} Vibha : Thank you for your donation! {% endblock %}

{% block headerimage %}<div id="topImage"><img  class="nolinkedimage" src="/vibha-media/img/HeaderGreen.png" width="1000" height="90" ></div>{% endblock %}

{% block contentBox %}
<h2 style="font-size: 18pt; font-style: italic; text-align: center; color: black;"> Thank you ! </h2>

<img  align="left" class="nolinkedimage" src="/vibha-media/img/girl_smiling.gif">

<p>
<b>
<i>
"Children are the world's most valuable resource and its best hope for the future." -- J.F. Kennedy
</i>
</b>
</p>

<p> Thank you very much for sharing our vision, which is to ensure
that every underprivileged child attains his or her right to
education, health and opportunity.
</p>

<p>
<b>If you donated to Vibha using Google Checkout or PayPal, You will
receive an official tax exemption donation receipt from the Vibha
office within two weeks</b>. 
</p>

<p>
Please contact us with any questions or suggestions about your online
donation or about Vibha. We would love to hear from you!
</p>

<p> Regards, <br />
Rajesh Haridas <br />
Chief Operating Officer, Vibha <br />
<a href="mailto:office@vibha.org">office@vibha.org</a>
</p>

<!--
<p> Thank you very much for supporting our vision of ensuring every
underprivileged child's right to education, health and
opportunity. You will receive an official receipt within 2 weeks of
verification of your donation. If you have any questions, please email
<a href="mailto:office@vibha.org">office@vibha.org</a>.
</p>

<p> An enormous challenge faces us. Every 3.6 seconds, one person dies
of starvation - usually it is a child under the age of 5*. Every year,
6 million children deaths that occur are preventable*. Basic
facilities like primary education and sanitation are not available to
hundreds of millions of children*.
</p>

<p> Your kind generosity will improve the lives of thousands of
children supported through Vibha. Together, we can make a difference -
one child at a time.
</p>

<p>
<a href="http://www.vibha.org/htg"> Help Them Grow</a>, <a
href="http://www.vibha.org/cfc">Change For Children</a>, <a
href="http://www.vibha.org/vbp">Vibha Beneficiary Program</a> <a
href="http://www.vibha.org/dreamregistry">Dream Registry</a> For
details about these programs, please <a
href="http://wiki.vibha.org/Contribute_Overview">click here</a>.
</p>
                          
<p> We look forward to your continued support. Please contact us with
any questions or suggestions about your online donation or about
Vibha. We'd love to hear from you!
</p>

<p> Thank you once again!
<br /> <br />
Regards, <br />
Rajesh Haridas <br />
Chief Operating Officer, Vibha <br />
info@vibha.org
</p>
!-->

{% endblock %}
