{% extends "base.dmpl" %}

{% block title %} Vibha Austin Trivia Guru 2009 : Thank you {% endblock %}

{% block contentBox %}
<h2> Thank you </h2>
                          
<p>
Thank you for registering for Vibha Austin's Trivia Guru quiz contest.  We
have received your information.  Please check your email for a confirmation
with the details.  If you have any questions or suggestions about the quiz,
please email us at <a
href="mailto:info@austin.vibha.org">info@austin.vibha.org</a>, or call us
at (512) 203 5828.
</p>
{% endblock %}
