{% extends "base.dmpl" %}

{% block title %} Vibha Austin Cricket Tournament 2011 : Thank you {% endblock %}

{% block contentBox %}
<h2> Thank you </h2>
                          
<p> Thank you for registering for the cricket tournament. We have received
your information.  Please check your email for a confirmation with the
details.  If you have any questions or suggestions about the cricket
tournament, please email us at <a
    href="mailto:cricket@austin.vibha.org">cricket@austin.vibha.org</a>.
</p>
{% endblock %}
